.social-login
    button
        span.social-login--gitgub
            i.fab.fa-github
        | Continue with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook
        | Continue with Facebook