.footer {
  border-top: 1px solid $dark-grey;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer__icon {
    padding: 20px;
  }
}
