.video-detail__container {
  width: 800px;
  .video__player {
    width: 100%;
    height: 450px;
    margin: 10px 0;
    video {
      width: 100%;
      height: 100%;
    }
    background-color: black;
  }
  .video__info {
    a {
      position: relative;
      right: -92%;
      font-weight: bold;
    }
    .video__title {
      margin: 10px 0;
      font-size: 20px;
      color: black;
    }
    .video__views {
      display: inline-block;
      font-size: 13px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $dark-grey;
      width: 100%;
    }
    .video__description {
      margin: 10px 0;
      font-size: 18px;
    }
    .video__author {
      display: flex;
      justify-content: left;
      a {
        position: static;
      }
    }
  }
  .video__comments {
    width: 100%;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
}
