.header {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background-color: #fff;
  .fab.fa-youtube {
    vertical-align: middle;
    color: $red;
    span {
      vertical-align: middle;
      font-size: 20px;
      letter-spacing: -2px;
      color: #000;
    }
  }

  form {
    display: flex;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    width: 400px;
    height: 30px;
    line-height: 30px;
    input {
      &:first-child {
        border-radius: 5px;
        vertical-align: top;
        width: 340px;
        height: 100%;
        padding: 10px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
        height: 100%;
        width: 60px;
        border-left: 1px solid #c3c3c3;
        text-align: center;
        color: #797979;
        padding: 0;
      }
    }
  }

  ul {
    display: flex;
    li {
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
