.social-login
    button.social-login--gitgub
        a(href=routes.gitHub)
            span
                i.fab.fa-github
                span Continue with Github
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
                span Continue with Facebook